<div class="row">
  <div class="col-xs-12">
    <h1>{{recipes.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12" style="margin-bottom: 20px;">
    <div class="btn-group" appDropdown>
      <button class="btn btn-primary dropdown-toggle" type="button">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
        <li><a style="cursor: pointer;" (click)="onEditRecipe()">Edit Recipe</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteRecipe()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12"><img [src]="recipes.imagePath" alt="{{ recipes.name }}" class="img-responsive" /></div>
</div>
<div class="row">
  <div class="col-xs-12" style="font-size: 1.5em; margin: 10px 0;">{{recipes.description}}</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipes.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>